@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300;400;900&family=Space+Mono:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nouns-red: #d63c5e;
  --nouns-yellow: #f3ad39;
  --nouns-blue: #5b93db;
  --nouns-green: #51b86a;
  --nouns-orange: #e58c4b;
  --nouns-beige: #e1d7d5;
  --charcoal: #212121;
}

body {
  font-family: "Space Mono", monospace;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

/* Pixel scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--nouns-beige);
}

::-webkit-scrollbar-thumb {
  background: var(--charcoal);
  border: 3px solid var(--nouns-beige);
}

.dark ::-webkit-scrollbar-track {
  background: var(--charcoal);
}

.dark ::-webkit-scrollbar-thumb {
  background: var(--nouns-red);
  border: 3px solid var(--charcoal);
}
